/*
Theme Name: prueba tecnica sm Theme
Theme URI: https://pruebatecnicasms.es
Description: Tema de prueba tecnicpara demostracion de habilidades
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
*/
body{
    font-family: "Montserrat", Sans-serif;
}
.custom-navbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #011826 !important;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF7A;
}
.custom-navbar .custom-logo{
    width: 160px;
    height: auto;
}
.main-header{
    background-color: #091319;
    padding-top: 220px;
    padding-bottom: 50px;
}
.info-header{
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    font-weight: 100;
    color: #fff;
}
.info-header h2{
    font-size: 50px;
    line-height: 1.2em;
    margin-bottom: 20px;
}
.info-header h1{
    font-size: 100px;
    font-weight: 600;
    line-height: 1.1em;
    margin-bottom: 20px;
}

.info-header p{
    font-size: 22px;
    line-height: 1.2em;
    margin-bottom: 20px;
}
.info-header hr{
    border-top: 10px solid #c1ea03;
    width: 30%;
    margin-left: 0px;
    margin-bottom: 20px;
}
.main-info-image{
    text-align: center;
}
.content-filter{
    background-color: #F4F4F4;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
}
.content-filter .form-group{
    margin-bottom: 0px;
}
.content-filter .form-group label{
    margin-bottom: 0px;
    color: #091319;
    font-size: 1.25rem;
    font-weight: 600;
}
.content-filter .form-group select.form-control{
    font-weight: 400;
    color: #0913199E;
    background-color: #F4F4F4;
    border-style: solid;
    border-color: #F4F4F4;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 17%);
}
.content-blog .card{
    background-color: #f4f4f4;
    border: 0px;
}
.content-blog .card-header{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #cccccc;
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 0px;
}
.content-blog .card .card-title{
    font-size: 18px;
    font-weight: 600;
}
.content-blog .card .card-title a{
    color: #091319;
}
.content-blog .card p{
    color: #333333;
    font-size: 14px;
    text-align: left;
}